<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ESTRATEGIAS BASICAS</title>
</head>
<body>
    <h1>{{ titulo }}</h1>
    <form action="/representacionBasicas" method="POST">
        <label for="operacion">Tipo de operación:   </label>
        <select name="operacion">
           <option value="compra">COMPRAR</option>
           <option value="venta">VENDER</option>
        </select><br><br>
        <label for="tipo">Tipo opcion:   </label>
        <select name="tipo">
           <option value="call">CALL</option>
           <option value="put">PUT</option>
        </select><br><br>
        <label for="ejercicio">Precio del ejercicio (E):   </label>
        <input type="number" name="ejercicio" placeholder="ej: 100" step="0.01" required><br><br>
        <label for="prima">Prima (P):   </label>
        <input type="number" name="prima" placeholder="ej: 5" step="0.01" required><br><br>
        <label for="contratos">Contratos:   </label>
        <input type="number" name="contratos" placeholder="ej: 2" step="0.01" required><br><br>

        <button type="submit">
            Representar estrategia </button>

    </form>
</body>
</html>
