<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OPCIONES FINANCIERAS</title>
</head>
<body>
    <h1>OPCIONES FINANCIERAS - RAÚL CACHO DOMÍNGUEZ</h1>
    <ul>
      <li><a href="http://127.0.0.1:5000/calcularPrimaBinomial">Calcular Prima metodo Binomial</a></li>
      <li><a href="http://127.0.0.1:5000/calcularPrimaBlackSchol">Calcular Prima metodo black scholes</a></li>
      <li><a href="http://127.0.0.1:5000/calcularEstrategiasBasicas">Estrategias básicas</a></li>
      <li><a href="http://127.0.0.1:5000/calcularEstrategiasComplejas">Estrategias complejas</a></li>
    </ul>
</body>
</html>
