<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PRIMA METODO BINOMIAL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
</head>
<body>

<div class="container">
        <div class="row">
             <div class="h1 col-12 text-center">PRIMA CALCULADA EXITOSAMENTE</div>

             <form class="text-center bg-light" action="/">

                <div>
                    <label for="tipo">Tipo opción:   </label>
                    <input class="text-center" type="text" name="tipo" value="{{ tipo }}" readonly><br><br>
                </div>

                <div class="form-group">
                    <label for="activoSubyacente">Precio del activo subyacente (S):   </label>
                    <input class="text-center" type="text" name="activoSubyacente" value="{{ activoSubyacente }}" readonly><br><br>
                </div>

                <div class="form-group">
                    <label for="ejercicio">Precio del ejercicio (E):   </label>
                    <input class="text-center" type="text" name="ejercicio" value="{{ ejercicio }}" readonly><br><br>
                </div>

                <div class="form-group">
                    <label for="volatilidad">Volatilidad (σ):   </label>
                    <input class="text-center" type="text" name="volatilidad" value="{{ volatilidad }}" readonly><br><br>
                </div>

                <div class="form-group">
                    <label for="anios">Años (T):   </label>
                    <input class="text-center" type="text" name="anios" value="{{ anios }}" readonly><br><br>
                </div>

                <div class="form-group">
                    <label for="tramos">Tramos (n):   </label>
                    <input class="text-center" type="text" name="tramos" value="{{ tramos }}" readonly><br><br>
                </div>

                <div class="form-group">
                    <label for="tipoInteres">Tipo de interes anual (i):   </label>
                    <input class="text-center" type="text" name="tipoInteres" value="{{ tipoInteres }}" readonly><br><br><br>
                </div>

                <div class="form-group"><b>
                    <label for="prima">PRECIO TEORICO DE OPCION:   </label>
                    <input class="text-center" type="text" name="prima" value="{{ prima }}" readonly><br></b>
                </div>

            </form>


            <div class="row">
                <div class="list-group ">
                    <br><br><br>
                  <a href="http://127.0.0.1:5000/" class="list-group-item list-group-item-action list-group-item-info text-center text-dark border-dark">Volver a inicio</a>
                </div>
            </div>
        </div>



</div>

<script src="../static/js/popper.min.js"></script>
<script src="../static/js/jquery-3.2.1.slim.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>

